html, body, h1, h2, h3, h4, h5, h6 p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6, label {
  font-family: system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif!important;
}
body{
  background: #046afb;
  background-image: url("bg1.svg");
  margin:0;
}
.nav-style {
    position: fixed;
    bottom: 20px;
    right: 27px;
    padding: 20px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: grid;
    place-content: center;
    border: none;
    
}
.open-btn {
    background: #ffffff;
    color: #040404;
    font-size: 30px;
}
.close-btn {  
    background: #002a68;
    color: white;
    border: none;
    display: none;
    font-size: 17px;
    
}
div#popup {
    position: fixed;
    bottom: 95px;
    background: #b0b0b0;
    width: 180px;
    height: auto;
    border-radius: 10px;
    right: 28px;
    display: grid;
    grid-gap: 1px;
    overflow: hidden;
}
div#popup a {
    color: #010101;
    text-decoration: none;
    padding: 15px;
    background: white;
}
#versionBox {
    background-color: white;
    display: grid;
    position: fixed;
    bottom: 0;
    width: 100%;
}