/* #grid :first-child {
  grid-column: 1 / -1;
} */

div#stats {
    padding: 10px;
}

#title {
  font-size: 26px;
  display: grid;
  place-content: center;
  font-weight: 300;
  margin-top: 20px;
  color: white;
  margin: 0;
  height: 50px;
}
.steps {
    padding: 10px;
    color: #ffffff70;
}
.titulo {
  margin-left: 15px;
  color: #ffffff70;
}
p.name {
  font-weight: 600;
}
.media {
  display: grid;
  place-content: center;
  height: 100%;
  background: #ffffff1c;
}
.timer{
  font-size: 33px;
  color:white;
}
p.description {
font-size: 14px;
color: #565656;
display: -webkit-box!important;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
}

#grid {
    display: grid;
    grid-gap: 30px;
    padding: 20px;
    
}
p#refresh {
    text-align: center;
    color: white;
        margin: 0;
}

.items {
    display: grid;
    position: relative;
    overflow: hidden;
    background: none;
    border: none;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(auto,400px));
    place-content: space-evenly;
}
  .items p {
    margin: 0;
}
  .item {
    display: grid;
    padding: 15px;
    place-items: center;
    background: #003e99;
    border-radius: 10px;
    box-shadow: 2px 2px 0px #0000000d;
    color: white;
}
  p.numberStats {
      font-size: x-large;
  }
.profits.item {
    background: yellow;
    color: black;
}
div#botoncito {
    display: grid;
}
.content p {
  display: grid;
  margin: 1px;
  text-align: left;
  background: #046afb;
  padding: 6px 15px;
  color: white;
  box-sizing: border-box;
}
.content {
    position: relative;
}
  button.edit {
    border: none;
    padding: 0;
    background: none;
    display: grid;
    grid-template-columns: 1fr 100px;
}
  .item-edit {
    border: none;
    background: white;
    margin: 0;
    padding: 0;
}
  div#nav {
    padding: 20px 0;
    font-size: 19px;
    font-weight: 400;
}

img.image {
    object-fit: cover;
    height: 100px;
}
span.add-button {
font-weight: 900px;
}

@media screen and (max-width: 640px){
  #grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      margin-bottom: 120px;
      padding: 20px;
      place-content: space-evenly;
  }
    .items {
    display: grid;
    position: relative;
    overflow: hidden;
    background: none;
    border: none;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    place-content: space-evenly;
}
}